body {
    background-color: #F0ECEC;
}
.kontener{

}
.wrapper
{
    border: dotted;
    border-color: black;
}

.box {
    margin: 0px 10px 0px 10px;
    text-align:center;
}

.licznik{
    margin: 30px 0px 30px 0px;
}

.center{
    margin-left:auto;
    margin-right:auto;
}

.dzial{
    padding: 30px 0px 30px 0px;
}

@media (max-width: 575px)
{
    .box {
        margin: 0px 10px 0px 10px;
    }
}
