#photo1 {
  background-image: url(./assets/photo1.jpg);
}

#photo2 {
  background-image: url(./assets/photo2.jpg);
}

#photo3 {
  background-image: url(./assets/photo3.jpg);
}

#photo4 {
  background-image: url(./assets/photo17.jpg);
}

#photo5 {
  background-image: url(./assets/photo18.jpg);
}

#photo6 {
  background-image: url(./assets/photo19.jpg);
}

#photo7 {
  background-image: url(./assets/photo20.jpg);
}

#photo8 {
  background-image: url(./assets/photo21.jpg);
}

#photo9 {
  background-image: url(./assets/photo22.jpg);
}

#photo10 {
  background-image: url(./assets/photo4.jpg);
}

#photo11 {
  background-image: url(./assets/photo5.jpg);
}

#photo12 {
  background-image: url(./assets/photo6.jpg);
}

#photo13 {
  background-image: url(./assets/photo24.jpg);
}

#photo14 {
  background-image: url(./assets/photo25.jpg);
}

#photo15 {
  background-image: url(./assets/photo26.jpg);
}

#photo16 {
  background-image: url(./assets/photo28.jpg);
}

#photo17 {
  background-image: url(./assets/photo23.jpg);
}

#photo18 {
  background-image: url(./assets/photo27.jpg);
}
